*                                     @jimmyandrade
packages/flutter/**/*.dart            @gustavogamino @jimmyandrade @paulononaka
packages/flutter-styles/**/*.dart     @gustavogamino @jimmyandrade @paulononaka
packages/style-dictionary/**/*.json   @jimmyandrade @marciobda
packages/styles/**/*.ts               @jimmyandrade
