html {
  font-size: var(--component-baseline-html-font-size);
  line-height: var(--component-baseline-html-line-height);
}

body {
  background-color: var(--component-baseline-body-background-color);
  color: var(--component-baseline-body-color);
  font-family: var(--component-baseline-body-font-family);
  font-size: var(--component-baseline-body-font-size);
  font-weight: var(--component-baseline-body-font-weight);
  line-height: var(--component-baseline-body-line-height);
  margin: var(--component-baseline-body-margin);
}

b,
strong {
  font-weight: var(--component-baseline-bold-font-weight);
}
